config.stopBubbling = true
lombok.addLombokGeneratedAnnotation = true
lombok.addSuppressWarnings = false
# lombok.anyConstructor.addConstructorProperties = true
# lombok.nonNull.exceptionType = IllegalArgumentException
 lombok.accessors.chain = true
# lombok.accessors.fluent = true
# lombok.addNullAnnotations = jspecify
